* {
    border-radius: 0 !important;
}

.intro-header .site-heading .subheading, .intro-header .page-heading .subheading,
.intro-header .site-heading h1, .intro-header .page-heading h1, .intro-header .post-heading h1,
.intro-header .post-heading .meta {
    text-shadow: #000 0 0 20px;
}

.well.well-lg {
    margin-bottom: 50px;
}

h2.question {
    font-size: 24px;
}

@media only screen and (min-width: 768px) {
    .intro-header .site-heading, .intro-header .post-heading, .intro-header .page-heading {
        padding: 100px 0;
    }
}
