DirectoryIndex index.php

<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On

    RewriteCond storage/cache/$1.html -f
    RewriteRule ^([a-z0-9/-]+)$ storage/cache/$1.html [L,NC]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
